.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: transparent;
}

.bg-image {
  background-image: url(bg.jpg) center/cover no-repeat;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login-card {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.login-card label {
  color: #d9b516;
}

.login-card .form-control {
  margin-bottom: 1rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.login-btn,
.register-btn {
  background-color: #d9b516;
  color: #020240;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
}

.login-btn:hover,
.register-btn:hover {
  background-color: #b89c14;
}
